.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  background-color: #000;
  color: #fff;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

input {
  border: none;
  font-size: 1rem;
  text-align: center;
  border-radius: 0.2em;
  height: 2em;
  display: block;
  margin: 1em auto;
}

label {
  color: #fff;
  display: block;
}

button {
  display: block;
  margin: 3em auto;
  border: none;
  border-radius: 0.2em;
  height: 2em;
}

textarea {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  height: 2.5em;
  margin: 0 auto;
  padding: 1em;
}
